.button-list{
    list-style-type: none; 
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
}

.button-list li{
    text-align: left;
}

.button-list li a{
    text-decoration: none;
    display: block;
    padding: 8px 0px 4px 20px;
    font-size: 24px;
    color: inherit;
}

.button-list li a:hover{
    background-color: hsla(0, 0%, 0%, 0.1);
}