body{
    margin: 0px;
    padding: 0px;
    font-size: 0;
}

div{
	margin: 0;
	padding: 0px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: hsla(210, 50%, 95%, 1);
}

.top-nav{
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.8);
    height: 50px;
}

.top-nav h1{
	height: 100%;
    color: white;
    font-size: 32px;
    margin: 0px;
    padding: 6px 0px 6px 100px;
}


.sidebar{
	background-color: hsla(0, 0%, 0%, 0.20);
}

iframe{
    border: 0px;
    width: 100%;
    height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container{
    height: calc(100% - 50px);
    width: 100%;
}





