<div data-ng-controller="databasesCtrl" class="container row">
	
	<div class="container btn-group-vertical btn-group-lg col-md-2">
		<h3 style="text-align:center">Bancos</h3>
		<button type="button" class="btn btn-custom"
			data-ng-click="consultTables(this.database.dbname)"
			data-ng-repeat="database in databaseArray">{{database.dbname}}</button>
	</div>
	
	<div class="container btn-group-vertical btn-group-lg col-md-2">
		<h3 style="text-align:center">Tabelas</h3>
		<button type="button" class="btn btn-custom	"
			data-ng-click="consultData(this.table)"
			data-ng-repeat="table in tableArray">{{table}}</button>
	</div>
	
	<div class="container col-md-8">
		<h3 style="text-align:center">Resultado</h3>
		<table class="table table-hover table-info">
			<thead>
				<tr>
					<th data-ng-repeat="(key, data) in dataArray[0]">{{key}}</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="row in dataArray">
					<td data-ng-repeat="data in row">{{data}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
